jobs:
- job: build

  strategy:
    matrix:
      PY312_64:
        PYVERSION: 3.12.9
        PYNAME: 3.12.9
        PYARCH: 64

      PY313_64:
        PYVERSION: 3.13.2
        PYNAME: 3.13.2
        PYARCH: 64

  pool:
    vmImage: 'windows-latest'

  steps:
  - powershell: .\download.ps1
    displayName: 'Run the build'

  - task: PublishPipelineArtifact@0
    inputs:
      targetPath: 'install.log'
      artifactName: '$(PYNAME)-$(PYARCH)-install.log'

  - task: ArchiveFiles@2
    inputs:
      rootFolderOrFile: 'Python-$(PYNAME)-$(PYARCH)'
      archiveType: 'zip'
      archiveFile: '$(Build.ArtifactStagingDirectory)/Python-$(PYNAME)-$(PYARCH).zip'

  - task: PublishPipelineArtifact@0
    inputs:
      targetPath: '$(Build.ArtifactStagingDirectory)/Python-$(PYNAME)-$(PYARCH).zip'
      artifactName: '$(PYNAME)-$(PYARCH)'

- job: release
  dependsOn: build
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))
  pool:
    vmImage: 'windows-latest'
  steps:
  - task: DownloadPipelineArtifact@1

  - task: GithubRelease@1
    inputs:
      githubConnection: 'hho2002pat'
      assets: '$(System.ArtifactsDirectory)/**/*.zip'
