jobs:
- job: build

  strategy:
    matrix:
#      PY379_32:
#        PYVERSION: 3.7.9
#        PYARCH: 32
#      PY379_64:
#        PYVERSION: 3.7.9
#        PYARCH: 64

#      PY386_32:
#        PYVERSION: 3.8.10
#        PYARCH: 32
#      PY386_64:
#        PYVERSION: 3.8.10
#        PYARCH: 64

#      PY397_32:
#        PYVERSION: 3.9.9
#        PYNAME: 3.9.9
#        PYARCH: 32
#      PY397_64:
#        PYVERSION: 3.9.9
#        PYNAME: 3.9.9
#        PYARCH: 64

      PY3100_32:
        PYVERSION: 3.10.1
        PYNAME: 3.10.1
        PYARCH: 32
      PY3100_64:
        PYVERSION: 3.10.1
        PYNAME: 3.10.1
        PYARCH: 64

  pool:
    vmImage: 'windows-latest'

  steps:
  - powershell: .\download.ps1
    displayName: 'Run the build'

  - task: PublishPipelineArtifact@0
    inputs:
      targetPath: 'install.log'
      artifactName: '$(PYNAME)-$(PYARCH)-install.log'

  - task: ArchiveFiles@2
    inputs:
      rootFolderOrFile: 'Python-$(PYNAME)-$(PYARCH)'
      archiveType: 'zip'
      archiveFile: '$(Build.ArtifactStagingDirectory)/Python-$(PYNAME)-$(PYARCH).zip'

  - task: PublishPipelineArtifact@0
    inputs:
      targetPath: '$(Build.ArtifactStagingDirectory)/Python-$(PYNAME)-$(PYARCH).zip'
      artifactName: '$(PYNAME)-$(PYARCH)'

- job: release
  dependsOn: build
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))
  pool:
    vmImage: 'windows-latest'
  steps:
  - task: DownloadPipelineArtifact@1

  - task: GithubRelease@0
    inputs:
      githubConnection: 'hho2002pat'
      assets: '$(System.ArtifactsDirectory)/**/*.zip'
