jobs:
- job: build

  strategy:
    matrix:
#      PY37_32:
#        PYVERSION: 3.7.9
#        PYARCH: 32
#      PY37_64:
#        PYVERSION: 3.7.9
#        PYARCH: 64

#      PY38_32:
#        PYVERSION: 3.8.10
#        PYARCH: 32
#      PY38_64:
#        PYVERSION: 3.8.10
#        PYARCH: 64

#      PY39_32:
#        PYVERSION: 3.9.13
#        PYNAME: 3.9.13
#        PYARCH: 32
#      PY39_64:
#        PYVERSION: 3.9.13
#        PYNAME: 3.9.13
#        PYARCH: 64

#      PY310_32:
#        PYVERSION: 3.10.6
#        PYNAME: 3.10.6
#        PYARCH: 32

#      PY310_64:
#        PYVERSION: 3.10.7
#        PYNAME: 3.10.7
#        PYARCH: 64

      PY311_64:
        PYVERSION: 3.11.0
        PYNAME: 3.11.0rc2
        PYARCH: 64

  pool:
    vmImage: 'windows-latest'

  steps:
  - powershell: .\download.ps1
    displayName: 'Run the build'

  - task: PublishPipelineArtifact@0
    inputs:
      targetPath: 'install.log'
      artifactName: '$(PYNAME)-$(PYARCH)-install.log'

  - task: ArchiveFiles@2
    inputs:
      rootFolderOrFile: 'Python-$(PYNAME)-$(PYARCH)'
      archiveType: 'zip'
      archiveFile: '$(Build.ArtifactStagingDirectory)/Python-$(PYNAME)-$(PYARCH).zip'

  - task: PublishPipelineArtifact@0
    inputs:
      targetPath: '$(Build.ArtifactStagingDirectory)/Python-$(PYNAME)-$(PYARCH).zip'
      artifactName: '$(PYNAME)-$(PYARCH)'

- job: release
  dependsOn: build
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))
  pool:
    vmImage: 'windows-latest'
  steps:
  - task: DownloadPipelineArtifact@1

  - task: GithubRelease@0
    inputs:
      githubConnection: 'hho2002pat'
      assets: '$(System.ArtifactsDirectory)/**/*.zip'
